.page-item.active .page-link-f {
    z-index: 3;
    color: #fff;
    background-color: #7fad39;
    border-color: #7fad39;
}

.page-link-f {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #b2b2b2;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link-f:hover {
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
    color: #fff;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link-f:focus {
    z-index: 2;
    text-decoration: none;
    color: #b2b2b2;
    background-color: #fff;
    border-color: #dee2e6;
}
